<div class="card border shadow-sm border-20 mb-1 mt-1 hover-scale latest-guide-item">
    <div class="badge new-badge lightdark position-absolute" role="button"
        style="top: -5px; right: -10px; transform: scale(1.2); width: 60px; text-align: center;"
        data-guide="{{ .RelPermalink }}"
        data-date="{{ .Params.date }}">
        New!
    </div>

    <article>
        {{ if .Params.tags }}
            <div class="d-flex justify-content-center" style="margin-bottom: -1rem; margin-top: 1.2rem; max-width: 100%;">
                {{ partial "main/tags.html" . }}
            </div>
        {{ end }}
        <h2 class="h3">
            <a class="stretched-link text-body justify-content-center" style="width: fit-content;" href="{{ .RelPermalink }}">
                {{ partial "main/title.html" .Params.title }}
            </a>
        </h2>
        {{ partial "main/contributor-blog-meta.html" . -}}
    </article>

</div>