// Put your custom SCSS code here

img.emote {
    display: inline;
    width: 1.55rem;
    height: auto;
    margin: 0 auto;
}

img.smallemote {
    display: inline;
    width: 1rem;
    height: auto;
}

img.largeemote {
    display: inline;
    width: 4rem;
    height: auto;
}

img.headingemote {
    display: inline;
    height: 4rem;
    width: auto;
    margin: -0.2rem auto 0 auto;
    padding-bottom: 0.3rem;
}

h2 img.headingemote {
    height: 3rem;
    position: relative;
    top: 0.07rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1.5rem auto;
}